body{
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	/*font-style: alibri;*/
}
.theme-1{
	background: #328A91;
}
.theme-2{
	background: #489987;
}
.theme-3{
	background: #5BCEBB;
}
.theme-4{
	background: #D6E6E5;
}
.white{
	background: white;
}
.text-theme-1{
	color: #328A91;
}
.text-theme-2{
	color: #489987;
}
.text-theme-3{
	color: #5BCEBB;
}
.text-theme-4{
	color: #D6E6E5;
}
.text-white{
	color: white;
}
.text-red{
	color: rgba(255,0,0,0.8);
}
<<<<<<< HEAD
.text-green{
	color: rgba(0,255,0,0.8);
}
=======
>>>>>>> origin/addPersonAjax
.left{
	float: left !important;
}
.right{
	float: right !important;
}
.text-center{
	text-align: center !important;
}
.height-100per{
	height: 100%;
}
.height-70per{
	height: 70%;
}
.height-60per{
	height: 60%;
}
.height-50per{
	height: 50%;
}
.height-40per{
	height: 40%;
}
.height-30per{
	height: 30%;
}
.height-10per{
	height: 10%;
}
.width-100per{
	width: 100%;
}
.width-85per{
	width: 85%;
}
.width-50per{
	width: 50%;
}
.width-40per{
	width: 40%;
}
.width-30per{
	width: 30%;
}
.width-20per{
	width: 20%;
}
.width-15per{
	width: 15%;
}
.width-10per{
	width: 10%;
}
.width-5per{
	width: 5%;
}
#grad{
	background: #328A91; // for browsers that do not support gradients
	background: -webkit-linear-gradient(left top, #328A91, #5BCEBB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #328A91, #5BCEBB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #328A91, #5BCEBB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #328A91, #5BCEBB); /* Standard syntax (must be last) */
}
#grad2{
	/*background-image: ;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#328a91+0,328a91+25,5bcebb+75,5bcebb+100 */
	background: #328a91; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #328a91 0%, #328a91 25%, #5bcebb 75%, #5bcebb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #328a91 0%,#328a91 25%,#5bcebb 75%,#5bcebb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #328a91 0%,#328a91 25%,#5bcebb 75%,#5bcebb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#328a91', endColorstr='#5bcebb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#login-logo{
	width:40%;
	margin-left: 30%;
	margin-right: 30%;
}
#home-logo{
	height: 100%;
}
.line{
	width: 100%;
	float: left;
	-moz-box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);
	-webkit-box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);
	box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.vline{
	/*width: 1px;*/
	/*height: 100%;*/
	/*float: left;*/
	/*-moz-box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);
	-webkit-box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);
	box-shadow:0px 9px 3px -3px rgba(255,255,255,0.9);*/
	border-right: 1px solid rgba(255,255,255,0.4);
}
.login-container{
	position: fixed;
	width: 30%;
	height: 80%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	margin-bottom: 10%;
	/*background: lightblue;*/
}
.signup-container{
	position: fixed;
	overflow: auto;
	width: 30%;
	height: 80%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	margin-bottom: 0%;
	scroll-behavior: smooth;
	background: rgba(0,0,0,0.05);
	/*border: 1px solid white;
	border-radius: 5px;*/
	padding: 2px;
}
.search-container{
	position: relative;
	overflow: auto;
	width: 50%;
	
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	/*margin-bottom: 0%;*/
	scroll-behavior: smooth;
	/*background: red;*/
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}
<<<<<<< HEAD
.popup-container{
	position: relative;
	overflow: auto;
	width: 50%;
	
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	/*margin-bottom: 0%;*/
	scroll-behavior: smooth;
	/*background: red;*/
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}
=======
>>>>>>> origin/addPersonAjax
.addlog-container{
	position: relative;
	overflow: auto;
	width: 80%;
	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	/*margin-bottom: 0%;*/
	scroll-behavior: smooth;
	/*background: red;*/
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}
.listlog-container{
	position: absolute;
	/*overflow: auto;*/
	width: 70%;
	height: 70%;
	
	margin-left: 5%;
	margin-right: 5%;
	/*margin-top: 0%;*/
	/*margin-bottom: 0%;*/
	scroll-behavior: smooth;
	/*background: red;*/
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}
.inner-listlog-container{
	/*position: absolute;*/
	/*overflow: auto;*/
	
	/*margin-top: 0%;*/
	/*margin-bottom: 0%;*/
	scroll-behavior: smooth;
	/*background: red;*/
	border: 0px solid black;
	border-radius: 10px;
	padding: 10px;
}
.overflow{
	overflow: auto !important;
}

.button{
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	border: 1px solid #D6E6E5;
	cursor: pointer;
	width: 100%;
	height: 40px;

	background: #328A91;
	color: #D6E6E5;
}
.table-button{
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	border: 1px solid #D6E6E5;
	cursor: pointer;
	width: 80%;
	height: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;

	background: #328A91;
	color: #D6E6E5;
}
.button:hover{
	border-radius: 5px;

	background: #D6E6E5;
	color: #328A91;
}
.table-button:hover{
	border-radius: 5px;

	background: #D6E6E5;
	color: #328A91;
}
.input:active{
	border-width: 4px solid #D6E6E5;
	border-color: #D6E6E5;
}
.input{
	width: 100%;
	height: 40px;
}
.half-input{
	width: 50%;
/*	margin-left: 5%;
	margin-right: 5%;*/
	height: 40px !important;
	float: left;
}
.t-area{
	width: 100%;
	/*min-height: 40px;*/
	/*height: auto;*/
}
.gap{
	width: 100%;
	float: left;
	height: 5%;
}
.mini-gap{
	width: 100%;
	float: left;
	height: 3%;
}
.forgot{
    margin-top: 10px;
    margin-bottom: 0px;
}
.topbar{
	width: 100%;
	height: 70px;
	float: left;
}
.sidebar{
	width: 19%; /*should be 20%*/
	height: 100%;
	float: left;
	/*border-right: 1px solid white;*/
	border-right: 1px solid rgba(255,255,255,0.4);
}
.sidebar:a{
	cursor: unset !important;
}
ul,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.contentbar{
	width: 80.5%;
	height: 100%;
	float: left;
}
.sidebutton{
	/*position: fixed;*/
	text-align: center;
	vertical-align: middle !important;
	height: 40px;
	width: 80% !important;
	padding: 5%;
	font-size: 15px;
	border-radius: 5px;
	border: 2px solid #D6E6E5;
	background: #489987;
	color: #D6E6E5;
	/*text-overflow: all;*/
}
.sidebutton-active{
	border: 2px solid #489987;
	background: #D6E6E5;
	color: #489987;
}
.sidebutton:hover{
	background: #5BCEBB;
	/*color: #328A91;*/
}

select,textarea,input,input.other::-webkit-input-placeholder { font-size: 18px; line-height: 2;}
select,textarea,input,input.other::-moz-placeholder { font-size: 18px; line-height: 2;}
select,textarea,input,input.other:-ms-input-placeholder { font-size: 18px; line-height: 2;}
select,textarea,input,input.other:-moz-placeholder { font-size: 18px; line-height: 2;}

.logo-name{
	text-align: center;
	/*color: #D6E6E5;*/
	color: white;
	/*font-family: Calibri, sans-serif;*/
	font-size: 26pt;
	margin-bottom: 0;
}
.page-title{
	margin-left: 27%;
	/*left: 0;*/
	/*padding-top: 10px;*/
	margin-top: 1.35%;
	text-align: center;
	vertical-align: middle;
	/*color: #D6E6E5;*/
	color: white;
	/*font-family: Calibri, sans-serif;*/
	font-size: 26pt;
	margin-bottom: 0;
}
<<<<<<< HEAD
.page-user{
	margin-top: 1.35%;
	color: white;
	font-size: 20pt;
}
=======
>>>>>>> origin/addPersonAjax
.addVisit{
	margin: 3%;
	width: 90%;
	height: auto;
}
.logtable{
	border: 3px solid white;
	width: 100%;
	text-align: center;
}
.pad{
	padding: 5px;
}
.welcome-name{
	/*background: lightblue;*/
	text-align: center;
	font-size: 45pt;
	font-style: bold;
	margin: 2%;
	color: white;
}
.welcome-date{
	/*background: lightblue;*/
	text-align: center;
	font-size: 25pt;
	font-style: bold;
	margin: 2%;
	color: white;
}

.sidebutton-drop{
	position: relative;
	text-align: center;
	vertical-align: middle !important;
	height: 40px;
	width: 80% !important;
	padding: 5%;
	font-size: 15px;
	border-radius: 5px;
	border: 2px solid #D6E6E5;
	background: #489987;
	color: #D6E6E5;
	/*text-overflow: all;*/
}

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /*position: absolute;*/
    /*top: 75px;*/
<<<<<<< HEAD
    margin-top: 3%;
=======
    margin-top: 5%;
>>>>>>> origin/addPersonAjax
    left: 220px;
    /*background-color: #f9f9f9;*/
    background-color: rgba(0,0,0,0.2);
    /*min-width: 160px;*/
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.stat-block{
<<<<<<< HEAD
	/*background: rgba(255,255,255,0.4);*/
	background: rgba(50,138,145,1);
	height:100%;
	width: 100%;
	float: left;
	color: #D6E6E5;
=======
	background: rgba(255,255,255,0.4);
	height: auto;
	width: 100%;
	float: left;
>>>>>>> origin/addPersonAjax
}
.stat-num{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
<<<<<<< HEAD

#stat-num-d{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
#stat-num-w{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
#stat-num-m{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
#stat-num-y{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
#stat-num-t{
	text-align: center;
	font-size: 160px;
	font-family: helvetica,sans-serif;
}
=======
>>>>>>> origin/addPersonAjax
.stat-des{
	text-align: center;
	font-size: 40px;
}
.stat-title{
	text-align: center;
	font-size: 50px;
<<<<<<< HEAD

	color: white;
=======
>>>>>>> origin/addPersonAjax
	/*font-family: helvetica, sans-serif;*/
}
/* Carousel code from https://www.christianheilmann.com/2015/04/08/keeping-it-simple-coding-a-carousel/ */
.carouselbox {
  /*font-family: helvetica,sans-serif;*/
  font-size: 14px;
  width: 97%;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.car-content {
  margin: 0;
  padding: 0;
}
.car-content li {
  font-size: 90px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active {
  /*height: 130px;*/
<<<<<<< HEAD
  height: 40%;
=======
  height: 35%;
>>>>>>> origin/addPersonAjax
}
.active li {
  position: absolute;
  /*top: 200px;*/
  top: 120%;
}
.active li.current {
  /*top: 30px;*/
  top: 0px;
}
.active .buttons {
  padding: 5px 0;
  /*background: #eee;*/
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}
<<<<<<< HEAD
.prev{
	background: rgba(255,255,255,0.3);
	border: 0px transparent;
	border-radius: 50%;
	padding: 30px;
	color: white;
	margin-top: 9.5%;
	margin-left: 2%;
	font-size: 20px;
}
.next{
	background: rgba(255,255,255,0.3);
	border: 0px transparent;
	border-radius: 50%;
	padding: 30px;
	color: white;
	margin-top: 9.5%;
	margin-right: 2%;
	font-size: 20px;
}

#popup-div {
width:100%;
height:100%;
display:none;
position:fixed;
overflow:auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#328a91+0,328a91+25,5bcebb+75,5bcebb+100 */
background: rgb(50,138,145); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(50,138,145,0.80) 0%, rgba(50,138,145,0.80) 25%, rgba(91,206,187,0.80) 75%, rgba(91,206,187,0.80) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(50,138,145,0.80) 0%,rgba(50,138,145,0.80) 25%,rgba(91,206,187,0.80) 75%,rgba(91,206,187,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(50,138,145,0.80) 0%,rgba(50,138,145,0.80) 25%,rgba(91,206,187,0.80) 75%,rgba(91,206,187,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#328a91', endColorstr='#5bcebb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.popup-input-name{
	/*background: lightblue;*/
	text-align: center;
	font-size: 20pt;
	font-style: bold;
	/*margin: 2%;*/
	color: white;
	float: left;
	/*margin-right: 10%;*/
}
.popup-input{
	width: 60%;
	height: 40px !important;
	float: right;
}
=======
>>>>>>> origin/addPersonAjax
